.cell_div {
    margin: 10px;
    padding: 5px;
    border: solid 1px #679c9b99;
    box-shadow: -1px -1px 2px 2px #679c9b22;
}

#left_block {
    position: absolute;
    width: 400px;
    top: 25px;
    right: 25px;
}

#right_block {
    position: absolute;
    width: 450px;
    top: 25px;
    left: 25px;
}

.amount {
    width: 50px;
}


li {
    border: solid #679c9b 1px;
    width: 350px;
    margin: 10px;
    padding: 5px;
}

.li_1 {
    /* Energy */
    border: solid #9c6795 1px;
}

.li_2 {
    /* Food */
    border: solid #b9b76f 1px;
}

.li_3 {
    /* Transport */
    border: solid #676b9c 1px;
}

.li_4 {
    /* Industry */
    border: solid #cca465 1px;
}

.li_5 {
    /* Land */
    border: solid #6d9c67 1px;
}

.li_6 {
    /* Colonialism */
    border: solid #b1b1b1 1px;
}

@keyframes changeBackground {
    0% {
        background-color: #171c16;
    }

    100% {
        background-color: #151a14;
    }
}

.background {
    animation: changeBackground 0.1s infinite;

    color: #679c9b;
    text-shadow: #679c9bdd 1px 0px 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}