.cell_div {
    margin: 10px;
    padding: 5px;
    border: solid 1px #679c9b99;
    box-shadow: -1px -1px 2px 2px #679c9b22;
}

#left_block {
    position: absolute;
    width: 350px;
    top: 25px;
    right: 25px;
}

.amount {
    width: 50px;
}


li {
    border: solid blue 1px;
    width: 250px;
    margin: 10px;
    padding: 5px;
}

@keyframes changeBackground {
    0% {
        background-color: #171c16;
    }

    100% {
        background-color: #151a14;
    }
}

.background {
    animation: changeBackground 0.1s infinite;

    color: #679c9b;
    text-shadow: #679c9bdd 1px 0px 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}