div {
    border: solid 1px #679c9b99;
    width: 250px;
    margin: 10px;
    padding: 5px;
    box-shadow: -1px -1px 2px 2px #679c9b22;
}


li {
    border: solid blue 1px;
    width: 250px;
    margin: 10px;
    padding: 5px;
}

body {
    color: #679c9b;
    text-shadow: #679c9bdd 1px 0px 4px;
    font-weight: bold;
    background: #16151b;
    font-family: 'Courier New', Courier, monospace;
}