.cell_div {
    margin: 10px;
    padding: 5px;
    border: solid 1px #679c9b99;
    box-shadow: -1px -1px 2px 2px #679c9b22;
}

#left_block {
    position: absolute;
    width: 400px;
    top: 25px;
    right: 25px;
}

#right_block {
    position: absolute;
    width: 450px;
    top: 25px;
    left: 25px;
}

.popup {
    position: absolute;
    top: 50px;
    left: 20%;
    right: 20%;
    padding: 20;
    z-index: 10;
    visibility: hidden;
    background-color: black;
    opacity: 1.0;

    animation: flicker_unpaused 0.1s infinite;

    background: linear-gradient(rgba(15, 13, 13, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 6px, 5px 100%;
    z-index: 3;
}

.redbox {
    border: solid 1px #b96060;
    box-shadow: -1px -1px 2px 2px #b9606022;
}

.bluebox {
    border: solid 1px #58c6df;
    box-shadow: -1px -1px 2px 2px #58c6df22;
}

.amount {
    width: 50px;
}

li {
    border: solid #679c9b 1px;
    width: 350px;
    margin: 10px;
    padding: 5px;
}

.li_1 {
    /* Energy */
    border: solid #9c6795 1px;
}

.li_2 {
    /* Food */
    border: solid #b9b76f 1px;
}

.li_3 {
    /* Transport */
    border: solid #676b9c 1px;
}

.li_4 {
    /* Industry */
    border: solid #cca465 1px;
}

.li_5 {
    /* Land */
    border: solid #6d9c67 1px;
}

.li_6 {
    /* Colonialism */
    border: solid #b1b1b1 1px;
}

.li_7 {
    /* Policies */
    border: solid #ffdefa 1px;
    box-shadow: -2px -2px 4px 4px #ffdefa22;
    background-color: #ffdefa22;
}

@keyframes flicker_unpaused {
    0% {
        background-color: #171c16;
    }

    100% {
        background-color: #151a14;
    }
}

.screenfilter_unpaused {
    animation: flicker_unpaused 0.1s infinite;

    background: linear-gradient(rgba(15, 13, 13, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 6px, 5px 100%;

    opacity: 0.6;
}

@keyframes flicker_paused {
    0% {
        background-color: #3a3a3a;
    }

    100% {
        background-color: #383838;
    }
}

.screenfilter_paused {
    animation: flicker_paused 0.1s infinite;

    background: linear-gradient(rgba(15, 13, 13, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.15), rgba(0, 255, 0, 0.06), rgba(0, 0, 255, 0.15));
    background-size: 100% 6px, 5px 100%;

    opacity: 0.8;
}

.screenfilter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: -1;
}

.number {
    font-size: xx-large;
}

.number_good {
    font-size: xx-large;
    color: #61bc87;
    text-shadow: #61bc87dd 1px 0px 4px;
}

.number_bad {
    font-size: xx-large;
    color: #b96060;
    text-shadow: #b96060dd 1px 0px 4px;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #679c9b;
    text-shadow: #679c9bdd 1px 0px 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

    background-color: black;
}

#screen {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: fixed;
    padding: 20px;
}