.cell_div {
    margin: 10px;
    padding: 5px;
    border: solid 2px #bffdfbdd;
    box-shadow: -2px -2px 4px 4px #bffdfb22;
    background-color: #00000055;
}

@keyframes flicker_unpaused {
    0% {
        background-color: #171c16;
    }

    100% {
        background-color: #131812;
    }
}

.screenfilter_unpaused {
    animation: flicker_unpaused 0.1s infinite;

    background: linear-gradient(rgba(15, 13, 13, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 6px, 5px 100%;

    opacity: 0.6;
}

@keyframes flicker_paused {
    0% {
        background-color: #383838;
    }

    100% {
        background-color: #343434;
    }
}

.screenfilter_paused {
    animation: flicker_paused 0.1s infinite;

    background: linear-gradient(rgba(5, 3, 3, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.15), rgba(0, 255, 0, 0.06), rgba(0, 0, 255, 0.15));
    background-size: 100% 6px, 5px 100%;

    opacity: 0.7;
}

.screenfilter {
    position: fixed;
    mix-blend-mode: screen;
    pointer-events: none;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 10;
}


a {
    color: inherit;
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #bffdfb;
    text-shadow: #bffdfbdd 1px 0px 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

    background-color: black;
}

#screen {
    position: fixed;

    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;

    padding: 20px;
    margin: 0px;
}