#background_img {
    background-image: url('../files/background.png');
    background-repeat: no-repeat;
    background-position: center bottom;

    margin: 0;
    background-color: black;
    padding: 0;
    position: fixed;

    z-index: -10;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
}


@media (orientation: portrait) {
    .number {
        font-size: x-large;
    }

    ul {
        list-style-type: none;
        padding-left: 8px;
        width: 95%;
    }

    #action_zone {
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 125px;
        bottom: 16px;
        right: 15px;
        left: 15px;
    }

    #status_zone {
        position: fixed;
        overflow: hidden;
        top: 15px;
        left: 15px;
        right: 15px;

        gap: 0px;
        padding: 0px;
        margin: 0px;

        font-size: x-small;
        display: grid;
        grid-template-columns: 60% 40%;
    }

    #status_zone div {
        margin: 0px;
        padding: 2px;
        border: 1px solid;
        background-color: #bffdfb22;
    }

    #points_div {
        height: 85px;
        grid-column: 1;
        grid-row: 2 / span 2;
        line-height: .8;
    }

    #alerts_div {
        grid-column: 2;
        grid-row: 2;
    }

    #population_div {
        grid-column: 2;
        grid-row: 3;
    }

    .vertical_only {
        display: inline;
    }

    .horizontal_only {
        display: none;
    }
}

@media (orientation: landscape) {

    #action_zone {
        position: fixed;
        width: calc(100vw - 550px);
        top: 40px;
        left: 40px;
        bottom: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
    }

    @media (max-width: 999px) {
        html {
            zoom: 0.7;
            font-size: normal;
        }

        #action_zone {
            width: 80vw;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 20px;
        width: 85%;
    }

    .number {
        font-size: xx-large;
    }

    #status_zone {
        position: fixed;
        width: 400px;
        top: 45px;
        right: 45px;
    }

    #status_zone div {
        background-color: #bffdfb22;
    }

    #action_column_exploit {
        grid-column: 2;
        grid-row: 1;
    }

    #action_column_explore {
        grid-column: 1;
        grid-row: 1;
    }

    #marketplace_div {
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #politics_div {
        max-height: 30vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #portfolio_div {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .vertical_only {
        display: none;
    }

    .horizontal_only {
        display: inline;
    }
}


.popup {
    position: fixed;
    top: 200px;
    left: 20%;
    right: 20%;
    padding: 20;
    z-index: 10;
    visibility: hidden;
    background-color: red;
    opacity: 1.0;

    animation: flicker_unpaused 0.1s infinite;

    background: linear-gradient(rgba(15, 13, 13, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 6px, 5px 100%;
    z-index: 3;
}

.redbox {
    border: solid 2px #fb4447;
    box-shadow: -1px -1px 2px 2px #fb444722;
}

.bluebox {
    border: solid 2px #bffdfb;
    box-shadow: -1px -1px 2px 2px #bffdfb22;
}



li {
    border: solid #679c9b 1px;
    margin: 10px;
    padding: 5px;
}

.li_1 {
    /* Energy */
    border: solid
        /* #eef99f*/
        #bffdfb 1px;
}

.li_2 {
    /* Food */
    border: solid
        /* #9674ff*/
        #bffdfb 1px;
}

.li_3 {
    /* Transport */
    border: solid
        /* #ff8766*/
        #bffdfb 1px;
}

.li_4 {
    /* Industry */
    border: solid
        /* #62a7ff*/
        #bffdfb 1px;
}

.li_5 {
    /* Land */
    border: solid
        /* #9dffdc*/
        #bffdfb 1px;
}

.li_6 {
    /* Colonialism */
    border: solid
        /* #ff50ac*/
        #bffdfb 1px;
}

.li_7 {
    /* Policies */
    border: solid #ffdefa 1px;
    box-shadow: -2px -2px 4px 4px #ffdefa22;
    background-color: #ffdefa22;
}

.number_good {
    color: #45cb8b;
    text-shadow: #45cb8bdd 1px 0px 4px;
}

.number_bad {
    color: #fb4447;
    text-shadow: #fb4447dd 1px 0px 4px;
}

.marketplace_icon {
    width: 38px;
    height: 38px;
    margin-right: 20px;
    float: left;
}

.portfolio_icon {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    float: left;
}