#background_img {
    background-image: url('../files/background.png');
    background-repeat: no-repeat;
    background-position: center bottom;

    margin: 0;
    background-color: black;
    padding: 0;
    position: fixed;

    z-index: -10;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
}

.popup {
    position: fixed;
    top: 150px;
    left: 20%;
    right: 20%;
    padding: 20;
    z-index: 10;
    visibility: hidden;
    background-color: red;
    opacity: 1.0;

    animation: flicker_unpaused 0.1s infinite;

    background: linear-gradient(rgba(15, 13, 13, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 6px, 5px 100%;
    z-index: 3;
}


.loading_bar {
    background-color: #000;
    border-radius: 8px;
    border: 2px solid var(--ui-color-transparent);
    padding: 2px;
    line-height: 2.5;
    font-size: small;
    font-weight: bold;
}

@media (orientation: portrait) {
    .number {
        font-size: x-large;
    }

    .loading_bar {
        font-size: xx-small;
        line-height: 2.5;
    }

    .popup {
        top: 50px;
    }

    ul {
        list-style-type: none;
        padding-left: 8px;
        width: 95%;
    }

    #action_zone {
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 150px;
        bottom: 20px;
        right: 15px;
        left: 15px;
        height: calc(83vh - 150px);
    }

    #status_zone {
        position: fixed;
        overflow: hidden;
        top: 15px;
        left: 15px;
        right: 15px;
        height: calc(83vh);

        gap: 0px;
        padding: 0px;
        margin: 0px;

        font-size: x-small;
        display: grid;
        grid-template-columns: 59% 41%;
        grid-template-rows: 25px 71px 20px calc(83vh - 80px);
    }

    #status_zone div {
        margin: 0px;
        padding: 2px;
        border: 1px solid;
        background-color: #bffdfb22;
    }

    #points_div {
        height: 85px;
        grid-column: 1;
        grid-row: 2 / span 2;
        line-height: .8;
    }

    #options_div {
        font-size: larger;
    }

    #alerts_div {
        grid-column: 2;
        grid-row: 2;
    }

    #population_div {
        grid-column: 2;
        grid-row: 3;
    }

    .vertical_only {
        display: inline;
    }

    .horizontal_only {
        display: none;
    }

    #graph_div {
        z-index: -1;
        visibility: hidden;
        left: 10px;
        bottom: 20px;
        opacity: 0.5;
        height: calc(83vh - 80px);

        grid-row: 4;
        grid-column: 1 / span 2;
        overflow: visible;
        padding-bottom: 0px;
    }

    #graph_div canvas {
        z-index: -1;
        visibility: visible;
        bottom: 0px;
        width: 100%;
        position: absolute;
        margin-bottom: 0px;
    }

}

@media (orientation: landscape) {

    #action_zone {
        position: fixed;
        width: calc(100vw - 550px);
        top: 40px;
        right: 40px;
        bottom: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
    }

    ul {
        list-style-type: none;
        padding-left: 20px;
        width: 85%;
    }

    .number {
        font-size: xx-large;
    }


    #status_zone {
        position: fixed;
        width: 400px;
        top: 45px;
        left: 45px;
    }


    #options_div {
        position: fixed;
        bottom: 15px;
        left: 15px;
        height: 15px;
        margin: 0px;
        background-color: #9fdddb44;
        width: 500px;
        border: solid 2px var(--ui-color-transparent);
        box-shadow: -2px -2px 4px 4px var(--ui-color-dark);
        padding: 3px;
        line-height: .9;
        color: #bffdfb;
        text-shadow: #000 1px 0px 4px;
    }


    #status_zone .cell_div {
        margin: 3px;
        padding: 5px;
        border: solid 0px var(--ui-color-transparent);
        box-shadow: none;
        background-color: #bffdfb00;
        border: 0px;
    }

    #action_column_exploit {
        grid-column: 1;
        grid-row: 1;
    }

    #action_column_explore {
        grid-column: 2;
        grid-row: 1;
    }

    #marketplace_div {
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #politics_div {
        max-height: 28vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .carbon_capture_divs {
        height: 13vh;
        margin: 10px;
        padding: 11.6;
    }

    #portfolio_div {
        max-height: 65vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .vertical_only {
        display: none;
    }

    .horizontal_only {
        display: inline;
    }

    @media (max-width: 1299px) {
        html {
            zoom: 0.7;
            font-size: normal;
        }

        #action_zone {
            width: 80vw;
        }

        #marketplace_div {
            max-height: 65vh;
        }

        #politics_div {
            max-height: 45vh;
        }

        .carbon_capture_divs {
            height: 20vh;
        }

        #portfolio_div {
            max-height: 90vh;
        }
    }
}


.redbox {
    border: solid 2px #fb4447;
    box-shadow: -1px -1px 2px 2px #fb444722;
    color: #bffdfb;
}

.bluebox {
    border: solid 2px #bffdfb;
    box-shadow: -1px -1px 2px 2px #bffdfb22;
    color: #bffdfb;
}



li {
    border: solid #679c9b 1px;
    margin: 10px;
    padding: 5px;

    box-shadow: -2px -2px 4px 4px var(--ui-color-dark);
    background-color: #00000055;
}



#portfolio_div .loading_bar {
    line-height: 2;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: xx-small;
    vertical-align: top;
}

.li_1 {
    /* Energy */
    border: solid
        /* #eef99f*/
        var(--ui-color) 1px;
}

.li_2 {
    /* Food */
    border: solid
        /* #9674ff*/
        var(--ui-color) 1px;
}

.li_3 {
    /* Transport */
    border: solid
        /* #ff8766*/
        var(--ui-color) 1px;
}

.li_4 {
    /* Industry */
    border: solid
        /* #62a7ff*/
        var(--ui-color) 1px;
}

.li_5 {
    /* Land */
    border: solid
        /* #9dffdc*/
        var(--ui-color) 1px;
}

.li_6 {
    /* Colonialism */
    border: solid
        /* #ff50ac*/
        var(--ui-color) 1px;
}

.li_7 {
    /* Policies */
    border: solid #4285F4 1px;
    box-shadow: -2px -2px 4px 4px #4285F422;
    background-color: #4285F422;
}


.marketplace_icon {
    width: 38px;
    height: 38px;
    margin-right: 5px;
    float: left;
}

.portfolio_icon {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    float: left;
}

input[type=range] {
    -webkit-appearance: none;
    background: #6b8e8d;
    height: 4px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 4px;
    height: 20px;
    background: var(--ui-color);
    border-radius: 0%;
    cursor: pointer;
    z-index: 4;
}


input[type=text] {
    background: var(--ui-color);
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    font-weight: bold;
}

input[type=button] {
    background: var(--ui-color);
    font-size: x-large;
    padding: 15px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type=button]:hover {
    background-color: #99c9c7;
}

input[type=button]:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #6b8e8d;
}

.suffering-dot {
    position: fixed;
    text-shadow: var(--ui-color-transparent) 1px 0px 4px;
    opacity: 1;
    z-index: 2;
    animation: moveAndFade 2s linear forwards;
}

.carbon-dot {
    position: fixed;
    color: #45cb8b;
    text-shadow: #2b7f56dd 1px 0px 4px;
    opacity: 1;
    animation: moveAndFade 3s linear forwards;
}

@keyframes moveAndFade {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    75% {
        opacity: .7;
    }

    100% {
        transform: translate(var(--translate-x), var(--translate-y));
        opacity: 0;
    }
}